<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>深圳大学数学与统计学院在线答题系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="index.css">
</head>

<body>
<div align="center">
    <h2>深圳大学数学与统计学院在线答题系统</h2>
    <a th:href="@{/register}">注册</a>
    <a th:href="@{/login}">登录</a>
    <a th:href="@{/logout}">退出</a><br><br>
    <a th:href="@{user/questionnaireRepository}">问卷库</a>
    <a th:href="@{admin/questionRepository}">题库</a>
</div>
</body>

</html>