<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>题库</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="index.css">
</head>

<body>

<div align="center">
    <h2>题库</h2>
    <a th:href="@{/logout}">退出</a><br>
</div>

<div align="center">

    <a th:href="@{/admin/addPage}">添加问题</a>
    <form name="newQuestion" onsubmit="return validateForm()" action="/admin/delete" method="POST">
        编号:<input type="text" name="id"><br>
        <input type="submit" value="删除">
    </form><br>
    <a th:href="@{/admin/modifyPage}">修改问题</a>
    <a th:href="@{/admin/questionnaire/createPage}">新建问卷</a> <br>

    <form name="search" action="/admin/search" method="POST">
        类型:<select name="type">
        <option value="0">任意</option>
        <option value="1">填空</option>
        <option value="2">选择</option>
        <option value="3">判断</option>
    </select>
        关键字:<input type="text" name="keyword"><br>
        <input type="submit" value="搜索">
    </form><br>

    <table border="1">
        <tr>
            <td>编号</td>
            <td>问题</td>
            <td>问题类型</td>
            <td>选项</td>
            <td>答案</td>
        </tr>
        <tr th:each="question:${questionList}">
            <td><span id="id" th:text="${question.id}">Default</span></td>
            <td><span th:text="${question.question}">Default</span></td>
            <td><span th:text="${question.typeName}">Default</span></td>
            <td><span th:text="${question.options}">Default</span></td>
            <td><span th:text="${question.answerName}">Default</span></td>
        </tr>
    </table>
    <a th:href="@{/}">返回首页</a><br>
</div>
</body>

</html>